<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Reg</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Login</h1>
    <form action="/login" method='post'>
        {% csrf_token %}
        <input type="text" name="email"  placeholder='email'>
        <input type="password" name="password" placeholder='password'>
        <input type="submit" name="Submit">
    </form>
    
    <h1>Registration</h1>
    <form action="/registration" method='post'>
        {% csrf_token %}
        <input type="text" name="email" placeholder='email'>
        <input type="password" name="password" placeholder='password'>
        <input type="password" name="cpassword" placeholder='password comfirmation'>
        <input type="submit" name="Submit">
    </form>
</body>
</html>